[catalog]
# Root folder for metadata and luigi targets
root=test/catalog

# The following *store* paths are where the orchestrator puts data.
[repostore]
# Folder for repos
# task.repo, task.subpath, task.branch
# task.slug, task.hash, task.basename (task.slug_task.hash)
store=test/repos/{task.basename}

[datastore]
# Folder for ingestion
# task.repo, task.subpath, task.branch
# task.slug, task.hash, task.basename (task.slug_task.hash)
# spec.name, spec.kind, spec.X ...
store=test/data/{task.basename}
#store=/data/trustpipe/data/{spec.name}/{spec.kind}

[retcode]
# The following return codes are the recommended exit codes for Luigi
# They are in increasing level of severity (for most applications)
already_running=10
missing_data=20
not_run=25
task_failed=30
scheduling_error=35
unhandled_exception=40

[scheduler]
record_task_history=true
state_path=luigi-state.pkl

[task_history]
db_connection=sqlite:///luigi-task-hist.db
